# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Unused large files
backup/
src/assets/theme.mp3
src/assets/react.svg
AI-VoiceOver.docx
AI-VoiceOver.md
AI_Chemistry_Research_Planner.docx
AI_Chemistry_Research_Planner.md
Advanced in Chemistry Proposal.pdf
AdvancedinChemistryProposal.html
Advances In Chemistry With AI-transcript.txt
