.cinematic-canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    background: radial-gradient(circle at center, #1b1b2f 0%, #0a0a0f 100%);
}

.cinematic-canvas {
    /* Legacy keeping just in case */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}